<div class="container body-content">
    <div align="center">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{event.title}}</h2>
                </header>
                {{#if event.picture}}
                    <p>
                        <img class="img-responsive img-rounded" src="{{event.picture}}" alt="" onerror="this.style.display='none'">
                    </p>
                {{/if}}

                <!-- TODO: different colors for different status. Why not implemented? Handlebars doesn't internally support conditional statements. Need to use block helper as shown here: http://stackoverflow.com/questions/8853396/logical-operator-in-a-handlebars-js-if-conditional -->
                <p class="text-success">
                    {{event.status}}
                </p>

                <p>
                    {{event.description}}
                </p>

                <p>
                    Confirmed guests: {{event.attendees.length}}
                </p>

                <div>
                {{#if hasJoined}}
                    <a href="leaveEvent/{{event.id}}"><button class="dtp-buttons" >Leave event</button></a>
                {{/if}}
                {{#unless hasJoined}}
                    <a href="joinEvent/{{event.id}}"><button class="dtp-buttons">Join event</button></a>
                {{/unless}}
                </div>

                <small class="...">
                    Event created by: {{event.author.fullName}}
                    <p>
                        Starts on:
                        {{event.eventStart}}
                        <br />
                        Ends on:
                        {{event.eventEnd}}
                    </p>
                </small>
                {{#if event.attendanceLimit}}
                    <p class="text-warning">
                        Limit for attendance: {{event.attendanceLimit}}
                    </p>
                {{/if}}
                <footer>

                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-success btn-xs"
                               href="/event/details/editEvent/{{event.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs"
                               href="/event/details/deleteEvent/{{event.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-xs" href="/event/list">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>