<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{article.title}}</h2>
                </header>
                {{#if article.picture}}
                    <p>
                        <img src="{{article.picture}}" alt="" width="500" onerror="this.style.display='none'">
                    </p>
                {{/if}}
                <p>
                    {{article.content}}
                </p>
                <small class="author">
                    {{article.author.fullName}}
                    <p>
                        Created on:
                        <br>
                        {{article.date}}
                    </p>

                </small>
                <footer>
                    <div class="pull-left">
                        {{# each article.tags}}
                            <a class="btn btn-default btn-xs"
                               href="/tag/{{this.name}}">{{ this.name }}</a>
                        {{/each}}
                    </div>

                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-success btn-xs"
                               href="/article/edit/{{article.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs"
                               href="/article/delete/{{article.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>